<br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Blocipedia is an application that allows users to share public and private wikis with other collaborators!</p>
   <p>
     <%= link_to "Sign In", new_user_session_path %> or
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
   </p>
 </div>