 <br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Blocipedia is a resource for collaborating on wikis!</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>